
  p.p1 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.0em; margin-left: 0.0em; text-align: center; text-indent: 0.0em; font-size: 92%}
  p.p2 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.0em; margin-left: 0.0em; text-align: center; text-indent: 0.0em; font-size: 92%; min-height: 14.0px}
  p.p3 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.0em; margin-left: 0.0em; text-align: center; text-indent: 0.0em; font-size: 138%}
  p.p4 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.38em; margin-left: 0.0em; text-indent: 0.0em; font-size: 277%; min-height: 43.0px; text-align: left}
  p.p5 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.38em; margin-left: 0.0em; text-align: center; text-indent: 0.0em; font-size: 108%}
 