
  p.p2 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.0em; margin-left: 0.0em; text-indent: 0.0em; font-size: 100%; min-height: 15.0px; text-align: left}
  p.p3 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.0em; margin-left: 0.0em; text-indent: 0.0em; font-size: 100%; text-align: left}
 