  p.p1 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.77em; margin-left: 0.0em; text-align: center; text-indent: 0.0em; font-size: 77%}
  p.p2 {margin-top: 0.0em; margin-right: 0.0em; margin-bottom: 0.77em; margin-left: 0.0em; text-align: center; text-indent: 0.0em; font-size: 77%; min-height: 11.0px}
